<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Hangman</title>
        <link rel="stylesheet" href="./styles.css">
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
        <link rel="icon" href="./images/favicon.ico" type="image/x-icon" />
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
        <!--[if IE]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
    </head>

    <body>
        <div class="container">
            <header>
                <h1>Hangman</h1>
            </header>
            <section id="content">
                <center>
                  <% image_source = @winner ? "./images/200w.gif" : "./images/hang#{session[:turns]}.jpg"  %>
                  <img src= <%= image_source  %> alt="Guess 7" />
                  <h1><%=session[:correct_guesses].join(" ")%></h1>
                  <form>
                    <input type="text" autofocus maxlength="1" name="guess" placeholder="Enter Guess" pattern="[A-Za-z]{1}" />
                    <input type="submit" value=<%="#{session[:turns]} Guesses!" %> />
                  </form>
                  <p>
                    Already Guessed: <%=session[:incorrect_guesses].join(",").upcase%>
                  </p>
                  <form method="GET" target='/new_game' >
                    <input type="submit" value="New Game" />
                  </form>
                </center>
            </section>
        </div>
    </body>
</html>
